doctype html
html
  head
    title= title
    link(
      href='/dist/css/common/common_vendors.css'
      rel="stylesheet"
      type="text/css"
    )
    link(
      rel='shortcut icon'
      href='/dist/images/website_icon.svg'
    )
    block head_stylesheets
  body
    block content
    block bottom_scripts
